h2 {
	text-transform: uppercase;
	text-decoration: underline;
	text-align: center;
	color: green;
}
h3 {
	color: green;
}
#address {
	float: center;
	text-align: left;
	width: 150px;
	padding: 25px;
	background-color:white;


}


#career {
	font-family: sans-serif;
	clear: left;
}

#personal {
	border-width: 50px;
}

table,td,th, tr{
	border: 1px solid green;
	padding: 10px;
	border-collapse: collapse;
}
th {
	background-color: green;
	color: black;
}