h2 {
	text-transform: uppercase;
	text-decoration: underline;
	text-align: center;
	color: green;
}
h3 {
	color: green;
}
div #header{
	border-radius: 5px;
	border: 150px;
}
ul  {
	list-style-type: none;
}
#header{
    position: relative;
    z-index: 1;
    height:140px;
    width: 100%;
    margin-bottom: 10px 
}
.left{
	position: fixed;
	left: 0px;
}

.right{
	position: fixed;
	right: 0px;
}
#contact {
	display: -webkit-flex;
	display: flex;
	position: relative;
	clear: both;

}
.address1 {
	width:200px;
	height: 200px;
	margin: 20px;
}

.address2 {
	width:200px;
	height: 200px;
	margin: 20px;
}

.career {
	font-family: sans-serif;
	clear: left;
}

#personal {
	border-width: 50px;
}

table,td,th, tr{
	border: 1px solid green;
	padding: 10px;
	border-collapse: collapse;
}
th {
	background-color: green;
	color: black;
}